
<div class="navbar-main">
  <div class="logo">
    <%= link_to "Logo",root_path%></li>
  </div>

  <div class="navbar-right">
<%= link_to "Workplace", workplace_path, class: "navbar-wagon-link"  %>
<%= link_to "Convention center", conventioncenter_path, class: "navbar-wagon-link"  %>
<%= link_to "Contact", contact_path, class: "navbar-wagon-link"  %>
<%= link_to "About us", about_path, class: "navbar-wagon-link"  %>
  </div>
</div>


