 <!--<div class="banner-content">
 <h1>Welcome to AD Value</h1>
 <p>An Exclusive workplace and convention center, at your fingertips</p>
    </div>
  </div>
</div>#-->
<div class="row">
<div class="col-md-6 col-xs-12">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>-->
  <!-- Wrapper for slides -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <div class="text">

  </div>
    <div class="item active">
      <%= image_tag "House1.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House2.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House3.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House4.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House5.JPG" %>

    </div>

    <div class="item">
      <%= image_tag "House6.JPG" %>
    </div>

        <div class="item">
      <%= image_tag "House7.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House8.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House9.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House10.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House11.JPG" %>
    </div>

    <div class="item">
      <%= image_tag "House12.JPG" %>
    </div>

  </div>

  <!-- Left and right controls -->
 <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="col-md-6 col-xs-12">
<p>Description of my house
10 Replies
In my house I have four rooms, one living room, one kitchen, one bathroom and one hall.

My room is next to the living room, in my room I have a desk near the window, I have two beds, I have my computer on the desk, my closet is next to the desk and in the desk I have books. In my room I have pictures of anime.

The room of my sister is next to my room. My sister has a desk under the window, she has a library next to the desk, her bed is far from the window and her closet is next to the bed.

The room of my parents is next to my sister’s room. My parents have in their room a big bed, they have two little tables, their closet is behind the windows.

The living room is next to my room, in the living room we have two sofas and an armchair, we have a little table, we have a TV and a DVD,  we have some music discs and a DVD player.

The kitchen is next to my parent’s room. In the kitchen we have a TV, one fridge, one cooker and a big table.

The bathroom is far from the kitchen. In the bathroom we have a toilet, a shower and a sink.

</p>
</div>
</div>
