 <!--<div class="banner-content">
 <h1>Welcome to AD Value</h1>
 <p>An Exclusive workplace and convention center, at your fingertips</p>
    </div>
  </div>
</div>#-->
<div class="row">
<div class="col-md-6 col-xs-12">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>-->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <div class="text">

  </div>
    <div class="item active">
      <%= image_tag "b3.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B2.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B1.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B4.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B5.jpg" %>

    </div>

    <div class="item">
      <%= image_tag "B6.jpg" %>
    </div>

        <div class="item">
      <%= image_tag "B7.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B8.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B9.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B10.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B11.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "B12.jpg" %>
    </div>

  </div>

  <!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="col-md-6 col-xs-12">
<p>I live on a street called Hillcrest. It is a beautiful street where each house seems to stand on it's own little hill like royalty. There are trees literally everywhere. 415 is my house. It looks is the king of Hillcrest, you would know by just looking at it.

The living room is the first room when entering the house. This room is filled with very lively furniture. Comfortable, tan leather couches, colorful rugs over the bare wood floor, and a large display case with pictures, books, and many memories of friends and family. And I mustn't forget about the enormous window that, during the day, will let as much sunlight and energy in the room as it possibly can.

My sister's room is just as colorful if not more. The walls are purple and there are crazy chalk drawings on some of them. Her room is also decorated with strange little trinkets like little wooden boxes, incense burners, and her own artwork. I don't really go in there much. Mainly for privacy.

My parent's room is right next to my sister's room. There's not much of anything good in there. A boring bed, a couple of dressers, a boring nightstand, and a boring closet is all that is in there. I don't visit that room much either.

The bathroom next to their room is pretty weird. There are elephants everywhere! Elephant candles, elephant mirrors, elephant pictures. I don't really understand it, but it's cool. The other bathroom, in the basement, is pretty much a piece of crap. The toilet hardly ever works and the shower is utterly disgusting. A piece of crap indeed. I'd rather use the upstairs bathroom.

I only like the kitchen when there is good food in it. It's a normal kitchen. That's all. There's a dinning room too. We never use it. Never. Doesn't bother me anyways.

We just installed a bar like two months ago. We put a thirteen inch T.V. and</p>
</div>
</div>
